:root {
  --border-color: solid 2px rgb(152, 192, 227);
  --main-background-color: rgb(39, 33, 90);
  --primary-color: rgb(94, 164, 181);
  --secondary-color: rgb(176, 129, 197);

}

.App {
  margin: 0 auto;
  font-family: "M PLUS Code Latin", monospace;
  font-weight: 300;
  display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
  background-color: var(--main-background-color);
}

.App h1 {
  font-size: 50px;
  color: rgb(234, 188, 255);
  padding: 20px;
  margin-left: 100px;
}

.App .logOutButton {
  text-decoration: none;
  color: var(--main-background-color);
  font-size: 20px;
  margin: 5px;
  padding: 10px 20px;
  font-weight: bold;
  border: solid 2px rgb(234, 188, 255);
  border-radius: 5px;
  background-color: var(--primary-color);
  position: absolute;
  top: 20px;
  right: 20px;
}

.App .logOutButton:hover {
  background-color: rgb(234, 188, 255);
  color: var(--main-background-color);
  cursor: pointer;
} 

.heading {
  margin-bottom: 50px;
  text-align: left;
  text-shadow: 4px 4px 4px rgb(79, 78, 78);
}

.Header {
      font-family: "M PLUS Code Latin", monospace;
      font-weight: 200;
      max-height: 170px;
      padding: 0;
      margin-top: 0;
      margin-bottom: 30px;
      box-shadow: 2px 2px 4px 4px grey;
      background-color: var(--main-background-color);
      border: solid 2px var(--secondary-color);
      
    }

.Header .nav-link {
  text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.loading {
  text-align: center;
  margin-top: 200px;
}



/*Note.css*/

.item {
  font-size: 1.1rem;
  text-align: left;
  font-weight: 400;
  text-wrap: pretty;
  letter-spacing: 1px;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.itemNote {
  flex: 1 1 250px;
  max-width: 300px;
  font-size: 1.2rem;
  background-color: rgb(216, 234, 223);
  color: rgb(48, 48, 48);
  border: 1px solid rgb(234, 188, 255);
  border-radius: 3px;
  padding: 10px 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Footer.css */
.Footer {
text-align: center;  padding: 20px 50px;
  margin-top: auto
}


