:root {
    --border-color: solid 2px rgb(152, 192, 227);
    --main-background-color: rgb(39, 33, 90);
    --primary-color: rgb(94, 164, 181);
    --secondary-color: rgb(176, 129, 197);

}
.item-example {
    margin: 20px auto;
    font-size: 1.4rem;
    text-align: center;
    width: 300px;
    background-color: var(--main-background-color);
    color: blanchedalmond;
    border: 8px solid var(--border-color);
    border-radius: 3px;
    padding: 20px 30px;
    box-shadow: 4px 4px 4px grey;
    position: relative;
}

.input {
    opacity: 20px;
    font-size: 20px;
    border: solid 2px var(--secondary-color);
    border-radius: 5px;
}
.input:focus {
    outline: none;
    border: solid 2px rgb(152, 207, 255);
    box-shadow: 0 0 10px rgb(152, 207, 255);
}

form .addButton {
    font-size: 30px;
    font-weight: bold;
    background-color: var(--secondary-color);
    border: solid 3px rgb(152, 207, 255);
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.deleteButton {
    justify-content: right;
    text-align: right;
    margin: 10px;
    color: antiquewhite;
    font-weight: bold;
    background-color: rgb(215, 41, 76);
    border: var(--border-color);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

:hover.deleteButton {
    background-color: rgb(231, 131, 151);
}